.footer {
  display: flex;
  position: fixed;
  height: 90px;
  width: 100%;
  background-color: #252525;

  justify-content: center;
}
.copy {
  font-size: 16px;
  color: #676a6d;
  font-family: $main-font;
  text-transform: initial;
  padding: 34px 0px 24px 0px;
}
