* {
  padding: 0;
}
.header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 112px;
  margin: 0;
  width: 99.8%;
  height: 100%;
  border: 1px solid #c5c5c5;
  margin-bottom: -50px;

  @media all and (min-height: 768px) {
    height: 100px;
    grid-template-rows: 100px;
    grid-template-columns: 50% 50%;
    width: 766px;
  }
  @media all and (min-height: 1024px) {
    width: 99.9%;
  }
}
.container-logo {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  @media all and (min-height: 768px) {
    justify-content: flex-start;
  }
}
.logo-adalab {
  width: 154.5px;
  height: 60px;
  margin-top: 10px;
  box-align: center;
  @media all and (min-height: 768px) {
    width: 155px;
    height: 60px;
    margin-left: 30px;
    margin-top: 20px;
  }
}
.menu-nav {
  display: grid;
  grid-template-columns: 42px 82px;
  list-style: none;
  grid-gap: 20.5px;
  @media all and (min-height: 768px) {
    width: 350px;
    margin-top: 41px;
    display: flex;
    justify-content: flex-end;
  }
  @media all and (min-height: 1024px) {
  }
}
.menu {
  text-decoration: none;
  font-size: 16px;
  height: 19px;
  font-family: $main-font;
  color: $dark-grey;
  list-style: none;
  text-transform: uppercase;
  margin-left: 88px;
  @media all and (min-height: 768px) {
    margin-left: 33px;
  }
}
