.main {
  width: 100%;
  height: 366px;
  background-image: url(../images/background.jpg);
  background-size: 125% 100%;
  background-repeat: no-repeat;
  @media all and (min-height: 768px) {
    margin-top: 50px;
    height: 834px;
  }
}
.title {
  color: white;
  font-size: 30px;
  font-family: $second-font;
  padding: 129px 139px 129px 20px;
  text-transform: uppercase;
  @media all and (min-height: 768px) {
    font-size: 60px;
    padding: 311px 416px 310px 30px;
  }
}
